@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";

:root {
  --red-color: #c72626;
  --green-color: #1d9d34;
  --white-color: #f2f2f2;
  --bg-dark: #121212;
  --text-light: #ffffff;
  --text-gray: #cccccc;
  --highlight: #eb4e4e;
  --font-base: 'Open Sans', sans-serif;
}
